body {
  background-color:#f3f3f3;
  overflow: hidden;
  text-align:center;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


svg{
  width:100%;
  height:100%;
  visibility:hidden;
}

.hit{
 cursor:pointer;
 -webkit-tap-highlight-color:transparent;
}

