html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    font-family: 'Arial Black', sans-serif;
    font-size: 300%;
    color: white;
    -webkit-text-stroke: 0px black;
}

#main {
    height: 30%;
    width: 70%;
    text-align: center;
}

#subheader {
    font-family: 'Arial Black', sans-serif;
    font-size: 150%;
    color: white;
    -webkit-text-stroke: 0px black;
    margin: 30px;
}

#menu {
    color: white;
    list-style-type: none;
}

#menu > li {
    display: inline;
    padding-right: 5px;
    border-right: 1px solid white;
    font-size: 150%;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
