html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    font-family: 'Arial Black', sans-serif;
    font-size: 300%;
    color: white;
    -webkit-text-stroke: 1px black;
}

#main {
    height: 30%;
    width: 70%;
    text-align: center;
}

#subheader {
    font-family: 'Arial Black', sans-serif;
    font-size: 300%;
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 30px;
}
