@import url(https://fonts.googleapis.com/css?family=Varela);

body {
    background: url(cool.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: roboto;
    font-weight: bold;
    color: #ffffff;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-webkit-font-smoothing: antialiased;
}
 p {
 	color: #FFF;
  	font-family: 'Varela', sans-serif;
  	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
 marquee {
 	color: #FFF;
  	font-family: 'Varela', sans-serif;
  	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
 a {
    color: #FFF;
    font-family: 'Varela', sans-serif;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}
  
 a:link {
   text-decoration: none;
}

 a:hover {
    color: #668cad;
}
 video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

	}
  .outer {
  display: table;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50%;
  width: 100%;
}

  .middle {
  display: table-cell;
  vertical-align: middle;
	}

  .outer-text {
  display: table;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 85%;
  width: 100%;
}

  .middle-text {
  display: table-cell;
  vertical-align: middle;
	}
.slashed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.slashed .top,
.slashed .bot {
  text-align: center;
  font: 90px/100px arial;
  text-align: center;
  overflow: hidden;
  color: #fff;
}
.slashed .top:before,
.slashed .bot:before {
  content: attr(data-text);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.slashed .top {
  position: absolute;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 50%;
}
.slashed .top:before {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
}
.slashed .bot {
  position: absolute;
  top: 50%;
  left: 0;
  right: 5px;
  bottom: 0;
}
.slashed .bot:before {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}